body {
  margin: 0;
  background: #ecf3f3;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

/* Particle container. */
#particle-container {
 	position: absolute;
 	width: 100%;
 	height: 100%;
}

